<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
	<appSettings>
		<add key="Time" value="100"/>
		<add key="CADPath" value="C:\\Program Files\\SOLIDWORKS Corp\\SOLIDWORKS\\SLDWORKS.exe"/>
		<add key="UserName" value="admin_platform"/>
		<add key="Password" value="Aa123456"/>
		<add key="SecurityContext" value="VPLMAdmin.Company Name.Default"/>
		<add key="OpenWaitMin" value="30"/>
		<add key="OpenSWDocCount" value="1000"/>
		<add key="ZoomToFit" value="true"/>
		<add key="TaskId" value=""/>
	</appSettings>
</configuration>
