<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
	<appSettings>
		<add key="Time" value="100"/>
		<add key="CADPath" value="F:\\Program Files\\PTC\\Creo 5.0.0.0\\Parametric\\bin\\parametric.exe"/>
		<add key="UserName" value="admin_platform"/>
		<add key="Password" value="Aa123456"/>
		<add key="SecurityContext" value="VPLMAdmin.Company Name.Default"/>
		<add key="OpenWaitMin" value="30"/>
		<add key="OpenSWDocCount" value="1000"/>
		<add key="ZoomToFit" value="true"/>
		<add key="TaskId" value=""/>
		<add key="CADVisiable" value="true"/>
		<add key="PdfProfilePath" value="F:\\Program Files\\PTC\\Creo 5.0.0.0\\Common Files\\enovia\\no_open_pdf.dop"/>
	</appSettings>
</configuration>
